<div class="row" style="padding:10px;">
  <div class="card-header border-dark" style="background-color: #004a73">
    <label class="h5 text-white" style="margin: 0% 0%">PING PONG </label>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="proceso()" class="btn btn-info">JUGAR</button>
  </div>
  <div class="col-md-6">
    <div class="card" style="padding:10px;">
      <div class="row">
        <div class="col-md-6">
          <p>
            Jugador A
          </p>
        </div>
        <div class="col-md-6">
          <jqxCheckBox #checkBoxJuagarA>
            Servidor
          </jqxCheckBox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Nombre:</label>
        </div>
        <div class="col-md-8">
          <jqxInput #myinputNombreA [theme]="'ui-redmond'" [maxLength]="255" class="tituloInput" [width]="'100%'"
            [height]="22" name="titulo">
          </jqxInput>
        </div>
        <div class="modal-footer">
          <div class="col-md-4" style="text-align: left;margin-top:15px">
            <strong>{{puntosA}}</strong>
          </div>
          <button type="button" (click)="procesoSumaPuntoA()" class="btn btn-dark">Sumar Punto</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" style="padding:10px;">
      <div class="row">
        <div class="col-md-6">
          <p>
            Jugador B
          </p>
        </div>
        <div class="col-md-6">
          <jqxCheckBox #checkBoxJuagarB style="margin: 0px;">
            Servidor
          </jqxCheckBox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label>NombreB:</label>
        </div>
        <div class="col-md-8">
          <jqxInput #myinputNombreB [theme]="'ui-redmond'" [maxLength]="255" class="tituloInput" [width]="'100%'"
            [height]="22" name="titulo">
          </jqxInput>
        </div>
        <div class="modal-footer">


          <div class="col-md-4" style="text-align: left;margin-top:15px">
            <strong>{{puntosB}}</strong>
          </div>


          <button type="button" (click)="procesoSumaPuntoB()" class="btn btn-dark">Sumar Punto</button>

        </div>
      </div>
    </div>
  </div>
  <div [hidden]="mostrarTabla" class="row" >
    <div  class="col-md-12" style="padding:10px;display: flex;justify-content: center;align-items: center;">
      <strong>PUNTAJE GLOBAL</strong>
    </div>
      <div  class="col-md-12" style="padding:10px;display: flex;justify-content: center;align-items: center;">
      <jqxGrid #gridTabla [theme]="'darkblue'" [width]="'50%'" [source]="dataAdapterPersonasRegistrados"
        [columns]="columnsProyectos" [virtualmode]="false" [filterable]="true" [pageable]="true" [autoheight]="true"
        [sortable]="true" [altrows]="true" [enabletooltips]="true" [autorowheight]="true" [rowdetails]="true">
      </jqxGrid>
    </div>

  </div>
  <div [hidden]="mostrarTabla">

  </div>
  <div class="card-footer">
    <jqxButton #buttonVolver [width]="'60'" [height]="'25'" [theme]="'ui-redmond'" [disabled]="true"
      (onClick)="controlIsCollapsed()">volver
    </jqxButton>
  </div>
  <div class="card">
    <div class="card-body">
      <ngx-extended-pdf-viewer #pdfViewer [src]="pdfSrc" [hidden]="isCollapsedPdf" 
        [useBrowserLocale]="true" [showHandToolButton]="true" [handTool]="false">
      </ngx-extended-pdf-viewer>

    </div>
  </div>
</div>
<app-modal-component></app-modal-component>